// Color Generator: https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=BBDEFB&secondary.color=FFAB91

$mdc-theme-primary: #bbdefb;
$mdc-theme-primary-light: #eeffff;
$mdc-theme-primary-dark: #8aacc8;
$mdc-theme-primary-text: #000000;

$mdc-theme-secondary: #ffab91;
$mdc-theme-secondary-light: #ffddc1;
$mdc-theme-secondary-dark: #c97b63;
$mdc-theme-secondary-text: #000000;

